$red : #e23a67;
$light: #f0f1f3;
$lendsqrDark: #213f7d;
$contentBackground: #fbfbfb;
$leftLinkFadedColor: #8b95a9;
$mainColor: #58cdcc;
$mainColorLight:#f3fcfc;
$activeUserColor: #5d48f6;
$activeUserBackground: #eee8fd;
$loanUserColor: #ee5e42;
$loanUserBackground: #fdefec;
$savingsUserColor: #ed4675;
$savingsUserBackground: #fcebf0;
$lightGreen: #f3fcfc;
$userColor: #e157f9;
$userBackground: #fbe8fe;
$dark: #213f7d;
$mutedDark: #545f7d;
$pendingColor: #e9b340;
$pendingBackground: #fdf7e5;
$inactiveColor: #545f7d;
$inactiveBackground: #f5f5f7;
$blackListColor: #e4363c;
$blackListBackground: #fbe6eb;
$activeColor: #5fcd63;
$activeBackground: #f3fcf6;
$userStarColor: #e9b340;